.todo-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.15);
  border-radius: 10px;
  background-color: #fff;
}

.title {
  text-align: center;
  color: #2C3E50;
  font-size: 2em;
  margin-bottom: 1em;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}


.todo-input, .todo-update-input {
  flex: 1 1 auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #BDC3C7;
  margin-right: 1em;
}

.todo-submit-btn, .update-btn, .delete-btn {
  background-color: #1ABC9C;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9em;

  &:hover {
    background-color: #16A085;
  }
}

.todo-list {
  margin-top: 2em;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 1em;
  border: 1px solid #ecf0f1;
  border-radius: 5px;
}

.todo-title {
  flex: 2 1 auto;
}

.todo-actions {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.todo-update-form {
  display: flex;
  margin-right: 1em;
}

.update-btn {
  margin-right: 1em;
}

.delete-btn {
  background-color: #E74C3C;

  &:hover {
    background-color: #C0392B;
  }
}
